---
layout: layout.njk
title: Forbidden
---

<h1>
  403 <br />
  Restricted Area <br />
  No Entry Without <br />
  a Badge.
</h1>
<p>
  You've come to the wrong side of town, detective. <br />
  The door's locked, the light flickers, and someone's watching from the
  shadows. <br />
  There's something behind this wall — something they don't want you to see.
  <br />
  You could try knocking again… but I'd keep one hand near the holster.
</p>
