---
layout: layout.njk
title: Missing Page
home: true
---

<h1>
  404 <br />
  The Case of the <br />
  Missing Page.
</h1>
<p>
  Looks like you have wandered off the path…<br />
  The page you're looking for has vanished without a trace.<br />
  Last seen wearing a JSON jacket and a suspicious query string.<br /><br />
  Proceed to the homepage for further investigation.
</p>
