---
layout: layout.njk
title: An Unexpected Turn in the Investigation
---

<h1>
  An Unexpected Turn <br />
  in the Investigation
</h1>
<p>
  Mission parameters rejected.<br />
  Security clearance denied, protocol mismatch, or intelligence gap detected.
  <br />
  HQ advises retreat and recalibration before proceeding. <br />
  Don't worry, Agent — the system isn't saying “no,” <br />
  it's just saying “not like that.”
</p>
