---
layout: layout.njk
title: Case Closed… by the Server
home: true
---

<h1>
  Case Closed… <br />
  by the Server.
</h1>
<p>
  Something's gone wrong behind the scenes… <br />
  The server was last seen running smoothly, then—poof—vanished without a
  trace.<br />
  Could be sabotage, could be bad code. Either way, the trail's gone cold.
  <br />
  <br />
  Sit tight while we dust the logs for fingerprints.
</p>
