---
layout: layout.njk
title: Welcome
---

<h1>We Welcome You.</h1>
<p>
  Secure channels open. Systems are online. <br />
  The world may never know what happens behind these encrypted walls — but you
  do. <br />
  Every mission starts with a whisper, every operation ends in silence.
  <br />
  Stay sharp, Agent — your next assignment awaits.
</p>
